<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954954637318-m5vl5gcb4r6bi2asd45t1l81scn0d6jd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954954637318-m5vl5gcb4r6bi2asd45t1l81scn0d6jd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>954954637318-8eimkl054b346t767td4tdbgs1ckai3u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_e70ek1GKPzgQdknsfqeid3cp_KY7xp0</string>
	<key>GCM_SENDER_ID</key>
	<string>954954637318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.data245.rashdecision</string>
	<key>PROJECT_ID</key>
	<string>rash-decision-cb0e7</string>
	<key>STORAGE_BUCKET</key>
	<string>rash-decision-cb0e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954954637318:ios:1308340fd434d738b26387</string>
	<key>DATABASE_URL</key>
	<string>https://rash-decision-cb0e7.firebaseio.com</string>
</dict>
</plist>