<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Rash Decision</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.954954637318-m5vl5gcb4r6bi2asd45t1l81scn0d6jd</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
		<string>googlegmail</string>
		<string>iosamap</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Play Music</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Please provide the calender permission for access calender</string>
	<key>NSCameraUsageDescription</key>
	<string>Permission for camera for clicking images of rashes</string>
	<key>NSContactsUsageDescription</key>
	<string>Please provide the contact permission</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Please provide the location permission for getting the nearest medical stores</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Please provide the location permission for getting the nearest medical stores</string>
	<key>NSLocationUsageDescription</key>
	<string>Please provide the location permission for getting the nearest medical stores</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Please provide the location permission for getting the nearest medical stores</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Permission to capture audio along with video for rashes</string>
	<key>NSMotionUsageDescription</key>
	<string>Please provide the motion usage permission</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Permission to pick image of rashes from the device</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Please provide the speech recognition permission</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>kTCCServiceMediaLibrary</key>
	<string>Please provide the music permission</string>
	<key>LSApplicationQueriesSchemes</key>
    <array>
            <string>itms-beta</string>
            <string>itms</string>
    </array>
    <key>GADApplicationIdentifier</key>
    <string>ca-app-pub-5252835281622410~4731901324</string>
    <key>io.flutter.embedded_views_preview</key>
    <true/>
</dict>
</plist>
